.guestbook{
	background:#FFFFFF;
	padding: 15px;
	border-radius: 4px;
	margin-bottom: 20px;
}
.guestbook__head{
	height: 24px;
	margin-bottom: 10px;
	overflow: hidden;
}
.guestbook__head h1{
	float: left;
	font-size: 18px;
	line-height: 24px;
	margin: 0;
	font-weight: bold;
}
.guestbook__head a{
	float: right;
	display: block;
	color: #FFFFFF;
	background-color: #5EC5DD;
	height: 24px;
	padding: 0 10px;
	text-decoration: none;
	line-height: 24px;
	border-radius: 4px;
}
.guestbook__body {
	width: 100%;
	position: relative;
}
.entry{
	display: table;
	width: 100%;
	margin-bottom: 15px;
	padding: 10px;
	box-sizing: border-box;
	border-radius:3px;
}
.entry[data-rating="0"]{
	border: 2px solid #E54C3C;
}
.entry[data-rating="1"]{
	border: 2px solid #5EC5DD;
}
.entry__autor-img, .entry__text-wrap{
	display: table-cell;
	vertical-align: top;
	text-align: left;
}
.entry__autor-img{
	width: 80px;
	height: 60px;
}
.entry__autor-img img{
	margin:0 20px 0 0;
}
.entry__text-head{
	border-bottom: 1px dashed #2E8AC8;
	margin-bottom; 5px;
}
.entry__text-head:after{
	clear: both;
	display: table;
	height: 0;
	content: '';
}
.entry__text-head h4, .entry__text-head span{
	margin: 0 0 5px;
	font-size: 12px;
	font-weight: bold;
	float: left;
	line-height: 16px;
	color: #2E8AC8;
}
.entry__text-head span{
	font-weight: normal;
	float: right;
}
.entry__text-body{
	font-size: 14px;
}

.gb-form__input{
	padding:15px;
	box-sizing: border-box;
	margin-bottom: 15px;
}
.gb-form__input.half{
	float: left;
	width: 50%;
}
.gb-form__input.third{
	float: left;
	width: 33.3333%;
}
.gb-form__input.captcha{
	float: left;
	width: 66.6666%;
}
.gb-form__input label{
	font-size: 12px;
	color: #8D7F72;
	font-weight: bold;
	margin-bottom: 5px;
}
.gb-form__input input, .gb-form__input select, .gb-form__input textarea{
	width: 100%;
	box-sizing: border-box;
	box-shadow: 0 0 none;
	border: 1px solid #E5D4C2;
	background-color: #fff;
	padding: 5px;
}
.gb-form__input input.submit{
	background-color: #EA6C46;
	height: 35px;
	border: 0 none;
	border-radius: 3px;
	color: #ffffff;
}
.gb-form__input.captcha span.cap-img{
	display: block;
	float:left;
}
.gb-form__input.captcha span.cap-img img{
	margin: 0;
}
.gb-form__input.captcha input{
	width: 50%;
	float: left;
}
.gb-form__input input.must, .gb-form__input select.must, .gb-form__input textarea.must{
	border-right: 2px solid #EA6C46;
}